In [ ]:
import numpy as np
import matplotlib as plt
import pandas as pd

In [ ]:
df = pd.read_csv(r'C:\Users\Manas\Desktop\Data Analytics Internship Fouses\Indian_Cities.csv')

In [ ]:
print(df)

        Cities  ConfirmedCases  Deaths  Recovered  Active
0       Mumbai          227276    9828     192096   25352
1      Chennai          180696    3393     163778   13525
2    Bengaluru          276934    3321     208702   64911
3    Hyderabad            2683      18        138    2527
4   Ahemedabad           38737    1845      33350    3542
5      Kolkata           63686    1861      55312    6513
6       Jaipur           26147     336      16889    8922
7    New Delhi          306559    5740     278812   22007
8         Pune          314118    6219     261316   46583
9   Chandigarh           13081     190      11662    1229
10       Surat           31918     798      28725    2395
11      Indore           28638     628      24024    3986
12      Bhopal           19572     423      17181    1965
13      Kanpur           26665     703      23214    2748
14        Agra            6368     131       5626     611

In [ ]:
print("The city with the highest number of Total Cases is:-- ")
print(df[df.ConirmedCases==df.ConfirmedCases.max()])

The city with the highest number of Total Cases is:--
  Cities  ConfirmedCases  Deaths  Recovered  Active
8   Pune          314118    6219     261316   46583

In [ ]:
x = df['ConfirmedCases']
y = df['Deaths']
z = df['Recovered']
case_to_death = x/y
case_to_recovery = x/z

In [ ]:
df["Case_Death_R"]=case_to_death
df["Case_Recovery_R"]=case_to_recovery
print(df)

        Cities  ConfirmedCases  Deaths  Recovered  Active  Case_Death_R  \
0       Mumbai          227276    9828     192096   25352     23.125356
1      Chennai          180696    3393     163778   13525     53.255526
2    Bengaluru          276934    3321     208702   64911     83.388738
3    Hyderabad            2683      18        138    2527    149.055556
4   Ahemedabad           38737    1845      33350    3542     20.995664
5      Kolkata           63686    1861      55312    6513     34.221386
6       Jaipur           26147     336      16889    8922     77.818452
7    New Delhi          306559    5740     278812   22007     53.407491
8         Pune          314118    6219     261316   46583     50.509407
9   Chandigarh           13081     190      11662    1229     68.847368
10       Surat           31918     798      28725    2395     39.997494
11      Indore           28638     628      24024    3986     45.601911
12      Bhopal           19572     423      17181    1965     46.269504
13      Kanpur           26665     703      23214    2748     37.930299
14        Agra            6368     131       5626     611     48.610687

    Case_Recovery_R
0          1.183138
1          1.103298
2          1.326935
3         19.442029
4          1.161529
5          1.151396
6          1.548167
7          1.099519
8          1.202062
9          1.121677
10         1.111158
11         1.192058
12         1.139165
13         1.148660
14         1.131888

In [ ]:
print("City with the highest Ratio of Total Cases to Deaths is:- ")
print(df[df.Case_Death_R  == df.Case_Death_R  .max()])

Country with the highest Ratio of Total Cases to Deaths is:-
      Cities  ConfirmedCases  Deaths  Recovered  Active  Case_Death_R  \
3  Hyderabad            2683      18        138    2527    149.055556

   Case_Recovery_R
3        19.442029

In [ ]:
print("City with the highest Ratio of Total Cases to Deaths is:- ")
print(df[df.Case_Recovery_R == df.Case_Recovery_R  .max()])

City with the highest Ratio of Total Cases to Deaths is:-
      Cities  ConfirmedCases  Deaths  Recovered  Active  Case_Death_R  \
3  Hyderabad            2683      18        138    2527    149.055556

   Case_Recovery_R
3        19.442029

In [ ]:
print("City with the Lowest Number of Cases is:- ")
print(df[df.ConfirmedCases == df.ConfirmedCases.min()])

City with the Lowest Number of Cases is:-
      Cities  ConfirmedCases  Deaths  Recovered  Active  Case_Death_R  \
3  Hyderabad            2683      18        138    2527    149.055556

   Case_Recovery_R
3        19.442029

In [ ]:
print("City which has the highest number of Active Cases is:- ")
print(df[df.Active == df.Active.max()])

City which has the highest number of Active Cases is:-
      Cities  ConfirmedCases  Deaths  Recovered  Active  Case_Death_R  \
2  Bengaluru          276934    3321     208702   64911     83.388738

   Case_Recovery_R
2         1.326935